html
	head
		title Проектирование и монтаж вентиляции под ключ | АльфаВент
		link(rel='stylesheet', href='css/style2.css')
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
		script(src="js/script.js")
	body.page
		.first
			.container
				header.header
					.header__logo.logo
						.logo__img
						.logo__text АльфаВент
							.logo__description Вентиляция и кондиционирование													
						.clear
					.header__contacts
						.header__phone +7 812 410-18-90
						.header__hours.text_size_xs Работаем Пн-Вс 9:00-19:00
					.header__menu.menu
						a.menu__link
				h1.heading 
					| Проектирование и монтаж 
					br
					| систем вентиляции под ключ
				.first__button
					button.button Подобрать систему вентиляции



