html
	head
		title Проектирование и монтаж вентиляции под ключ | АльфаВент
		
		
		link(rel='stylesheet', href='css/font-awesome.min.css')
		link(rel='stylesheet', href='css/flexslider.css')
		link(rel='stylesheet', href='css/style.css')
		link(href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css", rel="stylesheet",type="text/css")
	body(onload="initialize();").page
		.first
			.container
				header.header
					.header__logo.logo
						.logo__img
						.logo__text АльфаВент
							.logo__description Вентиляция и кондиционирование													
						.clear
					.header__contacts
						.header__phone +7 812 409-31-30
						.header__hours.text_size_xs Работаем Пн-Вс 9:00-19:00
					.header__menu.menu
						a.menu__link
				h1.heading.heading_size_xl.page__header 
					| Проектирование и монтаж 
					br
					| систем вентиляции под ключ
				.subheading Монтируем системы вентиляции любой сложности: 
					| в квартирах и коттеджах, 
					| магазинах и офисах,
					| гостиницах и ресторанах,
					| на складах и предприятиях
				.first__button
					button.button.button_size_xl.call-first-popup(data-header="Подберём вентиляцию",data-text="Мы перезвоним, уточним параметры<br>вашего объекта, ваши требования<br>и поможем подобрать систему вентиляции") Подобрать систему вентиляции
		.block.container.special
			.badge Специальное предложение
			h2.block__header.block__header_nmp Объединенная система вентиляции 
				br
				| и кондиционирования
			.block__subheader Специальная установка, совмещающая функции вентиляции и кондиционирования. 
				br
				| В любое время года подает очищенный охлажденный или подогретый воздух
			//- img(src="img/vent_cond.jpg").special__img

			.special__img
				//- br
				//- | Внешний блок не требуется
			//- .special__feature.special__feature_left
			//- 	.item.item_logo.item_dib
			//- 		.item__logo
			//- 		.item__header Не нужен внешний блок
			//- 		.item__text  Не нужно согласование с КГА. Идеально подойдет,
			//- 			br
			//- 			| если помещение со стороны фасада.
			//- 	.item.item_logo
			//- 		.item__logo
			//- 		.item__header Очистка приточного воздуха
			//- 		.item__text Фильтры класса EU4 очищают воздух  
			//- 			br
			//- 			| от вредных частиц и защищают узлы от загрязнений
			//- 	.item.item_logo
			//- 		.item__logo
			//- 		.item__header Все элементы в одном корпусе
			//- 		.item__text Все узлы установки протестированы на заводе. 
			//- 			br
			//- 			| Это гарантирует надежность работы системы
			//- .special__feature.special__feature_right
			//- 	.item.item_logo
			//- 		.item__logo
			//- 		.item__header Шумо- и теплоизоляция
			//- 		.item__text Корпус в каркасно-панельном исполнении  
			//- 			br
			//- 			| поглощает шум и рассеивает вырабатываемое тепло
			//- 	.item.item_logo
			//- 		.item__logo
			//- 		.item__header Очищенный воздух в любое время
			//- 		.item__text Встроенный кондиционер будет поддерживать 
			//- 			br
			//- 			| комфортный микроклимат, и в жару, и в холод
			//- 	.item.item_logo
			//- 		.item__logo
			//- 		.item__header Удаляет обработанный воздух
			//- 		.item__text Система вентиляции обеспечивает 100% воздухообмен
			//- 			br
			//- 			| и удаляет из помещения отработанный воздух
			//- .special__feature_img
			//- 	.item__header Без внешнего блока
			//- 	.item__header Подает и очищает свежий воздух
			//- 	.item__header Удаляет отработанный воздух
			//- 	.item__header Охлаждает или нагревает приточный воздух
			//- 	.item__header Шумо- и теплоизоляционный корпус
			//- 	.item__header Фильтры класса EU4
			//- 	.item__header Озонобезопасный фреон R410А
			.special__feature
				.item.item_ib.special__item
					.item__logo
					.item__header Не нужен наружный блок
					.item__text  Не требуется согласование с КГА. 
						br
						| Идеально подойдет, если помещение
						br
						| находится со стороны фасада.
				.item.item_ib.special__item
					.item__logo
					.item__header Комфортный микроклимат
					.item__text Кондиционер с высокой точностью
						br
						|  поддерживает установленную температуру
						br
						| нагревая или охлаждая приточный воздух								
				.item.item_ib.special__item
					.item__logo
					.item__header 100% воздухообмен
					.item__text Удаляется отработанный воздух,
						br
						| охлаждается или нагревается
						br
						| и очищается приточный воздух
			br
			button.button.special__button.call-special-popup Подробная информация
		.block.container.contract
			h2.block__header Строго соблюдаем сроки и не раздуваем бюджет
			.block__img_left.contract__img
			.block__text_right
				.text-block
					h3.heading Гарантируем соблюдение сроков
					p.text Спроектируем и смонтируем систему вентиляции ровно в те сроки, 
						br
						| о которых договаривались, и которые прописаны в Договоре. 
					p.text Если задержим или нарушим оговоренные условия — 
						br
						| сделаем скидку или выплатим неустойку. 
				.text-block
					h3.heading Не раздуваем бюджет
					p.text Очень часто встречаются недобросовестные подрядчики,
						br
						| они увеличивают в процессе монтажа стоимость работ
						br
						| или придумывают дополнительные работы					
					p.text Мы смонтируем систему за сумму, прописанную в Договоре. 
					p.text
						| Вам не придётся платить за несуществующие работы, 
						br
						| доплачивать из-за «внезапно рухнувшего рубля»,
						br
						| переплачивать из-за ошибок проектировщика.
		.clear
		.consult
			.block.container
				h2.block__header.block__header_white Подберём систему вентиляции специально для вас
				.consult__text
					.text-block
						p.text.text_white Мы монтируем системы любой сложности: бытового,
							br
							|  промышленного или специального назначения
						p.text.text_white Внимательно выслушаем ваши пожелания и подберём
							br
							|  оборудование исходя из ваших возможностей
							br
							|  условий монтажа и требований объекта
						p.text.text_white С радостью пообщаемся с вашим дизайнером, прорабом
							br
							|  и сами согласуем с ними расположение оборудования
							br
							| решеток и разводку воздуховодов
					.text-block
						.consult__feature
							.item.item_ib.consult__item
								.item__icon.item__icon_white 
									i.fa.fa-cogs
								.item__header.item__header_white Бесплатный 
									br
									| выезд замерщика
							.item.item_ib.consult__item
								.item__icon.item__icon_white 
									i.fa.fa-check
								.item__header.item__header_white Согласуем 
									br
									| с дизайнером
							.item.item_ib.consult__item
								.item__icon.item__icon_white 
									i.fa.fa-glass
								.item__header.item__header_white Объясним 
									br
									| все тонкости
					.consult__CTA.CTA
						form#form-consult.form.form_shadow
							h3.heading.CTA__heading Бесплатная консультация
							p.text.CTA__subtext Мы перезвоним, ответим на ваши вопросы
								br
								| и подберём систему под ваши требования, 
								| возможности и условия монтажа
							.form__line
								.form__label Введите имя:
								input(name="name").form__input
							.form__line
								.form__label Введите телефон:
								input(name="phone").form__input
							.form__line
								input(type="submit", value="Получить консультацию").button.form__button 
				.clear
		.block.container.project
			h2.block__header Проектирование систем вентиляции
			.project__img
			.project__feature.item__line_center
				.item.item_ib.project__item
					.item__header Точные расчёты по СНиП
					.item__text
						| Мы точно расчитаем производительность,
						br
						| потребляемую электроэнергию, мощность,
						br
						| спроектируем воздухораспределительную 
						br
						| сеть, чтобы не было свиста и шума.
				.item.item_ib.project__item
					.item__header Впишем систему в дизайн-проект
					.item__text
						| Спроектируем систему вентиляции под ваш 
						br
						| дизайн-проект, с минимальным занижением
						br
						| потолков. Сами согласуем проект с вашим 
						br
						| дизайнером, прорабом и смежниками.
				.item.item_ib.project__item
					.item__header Авторский надзор
					.item__text
						| Бесплатно внесём в проект 
						br
						| любое количество изменений.
						br
						| Проектировщик проконтролирует
						br
						| соблюдение проекта до сдачи объекта.
		.block.container.project-send
			h2.block__header.block__header_nmp У вас уже есть проект вентиляции?
			.block__subheader Отправьте его нам, наш проектировщик проанализирует и оптимизирует его,
				br
				| а также укажет на возможные ошибки проектирования

			.project-send__upload
				p.text 
					| Подойдут проекты из AutoCad,
					br
					| изображения в формате .jpg, .png, документы .pdf и .doc
				button.button.project-send__button.call-popup-file Отправить проект
		.CTA-test
			.block.container
				h2.block__header.block__header_nmp Спроектируем систему вентиляции бесплатно
				.block__subheader Убедитесь в нашем профессионализме и начните работу с нами с проектирования
					br
					| При заключении договора на монтаж, мы вычтем из него стоимость проектирования
				form#form-project.form.form_shadow.CTA__form
							h3.heading.CTA__heading Закажите проект вентиляции
							p.text.CTA__subtext Мы перезвоним, уточним параметры
								br
								| вашего объекта, ваши требования
								br 
								| и спроектируем систему вентиляции
							.form__line
								.form__label Введите имя:
								input(name="name").form__input
							.form__line
								.form__label Введите телефон:
								input(name="phone").form__input
							.form__line
								input(type="submit", value="Заказать проектирование").button.form__button 
		.block.setting
			.container
				h2.block__header Монтаж вентиляции
				.block_left
					.text-block
						h3.heading Фотоотчёт каждый день
						p.text Чтобы вы были уверены в качестве выполняемого монтажа,
							br
							| мы ежедневно отправляем фотоотчёт с вашего объекта
							br
							| и подробный перечень сделанных работ.
						p.text Вам не нужно будет постоянно ездить на объект
							br
							| и контролировать ход работы. 
						p.text
							| Вы сможете убедиться в качестве монтажа и соблюдении 
							br
							| сроков, просто зайдя на свою электронную почту
				.block_right.setting__img
				.clear
		//- .container.block.license
		//- 	h2.block__header Лицензии и сертификаты
		//- 	.license__item.license__item_1
		//- 	.license__item.license__item_2
		//- 	.license__item.license__item_1
		//- 	.factoid.license__factoid
		.container.block.object
			h2.block__header Объекты, смонтированные нами
			.flexslider
				ul.slides
					li
						.object__item
							.object__header.heading_size_s
								| Проектирование и монтаж систем вентиляции 
								br
								| и кондиционирования на швейной фабрике
							.object__imgs
								img(src="img/object/1/1.jpg").object__img.object__img_active
								img(src="img/object/1/2.jpg").object__img
								img(src="img/object/1/3.jpg").object__img
								img(src="img/object/1/4.jpg").object__img
							.clear
							.object__thumbs
								img(src="img/object/1/1.jpg").object__thumb.object__thumb_active
								img(src="img/object/1/2.jpg").object__thumb
								img(src="img/object/1/3.jpg").object__thumb
								img(src="img/object/1/4.jpg").object__thumb
							.object__time 
								span.text_bold Cрок выполнения: 
								| 4 недели
							//- .object__budget 
							//- 	span.text_bold Стоимость: 
							//- 	| 1,5 млн. руб.
							
					li
						.object__item
							.object__header.heading_size_s
								| Проектирование и монтаж 
								br
								| общеобменной вентиляции в бассейне
								br
								|  для грудных детей
							.object__imgs
								img(src="img/object/2/1.jpg").object__img.object__img_active
								img(src="img/object/2/2.jpg").object__img
								img(src="img/object/2/3.jpg").object__img
							.clear
							.object__thumbs
								img(src="img/object/2/1.jpg").object__thumb.object__thumb_active
								img(src="img/object/2/2.jpg").object__thumb
								img(src="img/object/2/3.jpg").object__thumb
							.object__time 
								span.text_bold Cрок выполнения: 
								| 2 недели
							//- .object__budget 
							//- 	span.text_bold Стоимость: 
							//- 	| 520 тыс. руб.
							
					li
						.object__item
							.object__header.heading_size_s
								| Проектирование и монтаж системы вентиляции и 
								br
								| кондиционирования без наружных блоков частного дома 
							.object__imgs
								img(src="img/object/3/1.jpg").object__img.object__img_active
								img(src="img/object/3/2.jpg").object__img
								img(src="img/object/3/3.jpg").object__img
							.clear
							.object__thumbs
								img(src="img/object/3/1.jpg").object__thumb.object__thumb_active
								img(src="img/object/3/2.jpg").object__thumb
								img(src="img/object/3/3.jpg").object__thumb
							.object__time 
								span.text_bold Cрок выполнения: 
								| 2,5 недели
							//- .object__budget 
							//- 	span.text_bold Стоимость: 
							//- 	| 900 тыс. руб.
		.contacts.block.container
			.contacts__img
			.contacts__text
				h2.block__header.block__header_left Нужна консультация?
				.block__header.block__header_left.block__header_nmp.block__header_weight_300 Ответим на любой вопрос:
				.heading_size_xl.heading_bold +7 812 409-31-30
			.clear
			.contacts__items
				.contacts__item.item.item_ib
					.item__icon
						i.fa.fa-cogs
					.item__header Хотите рассчитать 
						br
						| стоимость вентиляции?
				.contacts__item.item.item_ib
					.item__icon
						i.fa.fa-cogs
					.item__header Нужны подробности 
						br
						| о конструкции систем?
				.contacts__item.item.item_ib
					.item__icon 
						i.fa.fa-cogs
					.item__header Хотите подобрать 
						br
						| систему вентиляции?
				.contacts__item.item.item_ib
					.item__icon
						i.fa.fa-cogs
					.item__header Как рассчитать
						br
						|  воздухообмен?
		.block.map-container
			#map.map
			.container
				.map__contacts
					h2.block__header Контакты
					.map-contacts__header Телефон:
					.map-contacts__text.map-contacts__text_bold +7 812 409-31-30
					.clear
					.map-contacts__header Адрес:
					.map-contacts__text
						| пр. Обуховской Обороны 116, 
						br
						| БЦ «НЕВА», оф. 332.
					.clear
					.map-contacts__header E-mail:
					.map-contacts__text
						| info@alphavent.ru

		footer.footer
			.container
				.footer__logo.logo
					.logo__img
					.logo__text АльфаВент
						.logo__description Вентиляция и кондиционирование													
					.clear
				.footer__contacts
					.header__phone +7 812 409-31-30
					.header__hours.text_size_xs Работаем Пн-Вс 9:00-19:00
				.footer__menu.menu
					a.menu__link
				.clear
		.popup__bg
			#popup-window.popup__window.form_shadow
				.popup__close  
					i.fa.fa-close
				form#form-popup.form
					h3.heading.CTA__heading Закажите проект вентиляции
					p.text.CTA__subtext Мы перезвоним, уточним параметры
						br
						| вашего объекта, ваши требования
						br 
						| и спроектируем систему вентиляции
					.form__line
						.form__label Введите имя:
						input(name="name").form__input
					.form__line
						.form__label Введите телефон:
						input(name="phone").form__input
					.form__line
						input(type="submit", value="Заказать проектирование").button.form__button 
			#popup-file.popup__window.form_shadow
				.popup__close 
					i.fa.fa-close
				form(enctype="multipart/form-data",method="post",action="SendFile.php")#form-file.form
					h3.heading.CTA__heading Закажите проект вентиляции
					p.text.CTA__subtext Мы перезвоним, уточним параметры
						br
						| вашего объекта, ваши требования
						br 
						| и спроектируем систему вентиляции
					.form__line
						.button.fake-button 
							.fake-button__text Выбрать файл	
							input(type="file", name="file", onchange="input_filename(this.value)").input-file
					.form__line
						.form__label Введите имя:
						input(name="name").form__input
					.form__line
						.form__label Введите телефон:
						input(name="phone").form__input
					.form__line
						input(type="submit", value="Заказать проектирование").button.form__button 
			#popup-thx.popup__window.form_shadow.popup__thx
				.popup__close 
					i.fa.fa-close
				.popup__check
				h3.heading.CTA__heading Спасибо за заявку!
				p.text.CTA__subtext Мы перезвоним Вам в течение 15 минут
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
	script(src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize&key=AIzaSyCNsygp3clnIAR1MH-GUSkuDzhndJL65Ik",async,defer)
	script(src="js/jquery.flexslider.js")
	script(src="js/script.js")
	script(src="//code.jquery.com/ui/1.11.4/jquery-ui.js")




							

				

					



				

			
			



