@import "fonts.scss";

.page
{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue';
	font-size: 18px;
}
.container
{
	width: 1200px;
	margin: 0 auto;

}




.clear
{
	clear: both;
}

// Сетка
.col-1-3
{
	width: 30%;
	float: left;
}
// Сетка




// Типографика


.heading
{
	font-size: 30px;
	
	color: #000;
	margin-top: 0;
	// text-shadow: 0 1px 2px rgba(0,0,0,.6);
	margin-bottom: 0.5em;
	line-height: 1;

	&_size_s
	{
		font-size: 24px;
		font-weight: bold;
		text-align-last: auto;
	}

	&_size_l
	{
		font-size: 36px;
		margin: 0;
		margin-bottom: 0.5em;
	}
	&_size_m
	{
		font-size: 30px;
		margin: 0;
		margin-bottom: 0.5em;
		text-align-last: auto;
	}

	&_size_xl
	{
		font-size: 72px;
		
		margin: 0;
		
	}

	&_white
	{
		color:#fff;
	}

	&_bold
	{
		font-weight: bold;
	}
}

.subheading
{
	margin-top: 1em;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: rgba(0,0,0,.8);
}

.block
{
	margin-top: 4em;
	&__header
	{
		text-align: center;
		margin: 0;
		margin-bottom: 1em;
		font-size: 46px;
		font-weight: bold;



		&_nmp
		{
			margin-bottom: 0;
		}

		&_white
		{
			color: #fff;
		}

		&_left
		{
			text-align: left;
		}

		&_weight_300
		{
			font-weight: 300;
		}


	}


	&__subheader
	{
		font-size: 30px;
		text-align: center;
		font-weight: 300;
		line-height: 1.3;
		margin-top: 0.5em;
		margin-bottom: 2em;
	}

	&__img_left
	{
		float: left;
	}
	&__text_right
	{
		float: right;
	}

	&_left
	{
		float: left;
	}
	&_right
	{
		float: right;
	}
}

.item
{
	text-align: left;

	&_ib
	{
		display: inline-block;
		vertical-align: top;
	}

	&__header
	{
		font-weight: bold;
		font-size: 22px;

		&_white
		{
			color:#fff;
		}
		&_size_l
		{
			font-size: 30px;	
		}
	}

	
	&__text
	{
		margin-top: 0.5em;
		line-height: 1.3;

		&_size_l
		{
			font-size: 22px;
		}
	}

	&__icon
	{
		font-size: 50px;
		margin-bottom: 0.4em;


		&_white
		{
			color:#fff;
		}
	}

	&__line
	{
		&_center
		{
			text-align: center;
		}
	}

}

.badge
{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 24px;
	color:#e14623;
	margin-bottom: 0.5em;
}

.text
{
	margin: 0;
	margin-bottom: 0.8em;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.4;
	letter-spacing: 0.2px;

	&_white
	{
		color:#fff;
	}

	&_bold
	{
		font-weight: bold;
	}
}

.text-block
{
	margin-bottom: 3em;
}

.page__header
{
	
	margin-top: 2em;
	margin-bottom: 0em;
	text-align: center;
}

// Типографика



// Формы
.button
{
	background: #2b894e;
	border: 0;
	outline: none;
	font-size: 24px;
	color: #fff;
	padding: 0.5em 1em 0.5em 1em;	
	border-radius: 5px;
	text-shadow: 0 1px 3px rgba(0,0,0,.3);
	background-color: #FFE327;
	border-bottom: 3px solid #E7C345;
	background-image: linear-gradient(to bottom, #F09819, #d5052a);
	border-bottom: 3px solid #9a0721;
	text-align: center;
	cursor: pointer;

	&_size_xl
	{
		padding: 1em 2em;
		font-size: 30px;
	}

	&_center
	{
		text-align: center;
	}
}

.form
{
	background:#fff;
	border-radius: 10px;
	padding: 2em 2.5em;

	&_shadow
	{
		box-shadow: 0px 5px 30px rgba(0,0,0,0.5)
	}

	&__line
	{
		margin-top: 1.5em;

		&:first-child
		{
			margin-top: 0;
		}
	}

	&__label
	{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	&__input
	{
		width: 100%;
		border-radius: 3px;
		border: 1px solid #ccc;
		height: 50px;
		outline: none;
		font-size: 24px;
		padding-left: 0.5em;
	}

	&__button
	{
		width: 100%;
	}


}

.CTA
{
	text-align: center;

	&__subtext
	{
		margin-bottom: 1em;
		text-align: center;
	}

	&__heading
	{
		text-align: center;
	}
	&__form
	{
		width: 500px;
		margin: 0 auto;
		text-align: center;
	}


	&-test
	{
		background-image: linear-gradient(to bottom, #fbfafa, #e2e2e2);
		padding-top: 0.01em;
		margin-top: 6em;
		// padding-bottom: 4em;
		height: 850px;
		background: url("../img/cta-proj.jpg");
		background-position: top center;
		min-width: 1220px;

	}


}

.input-file
{
	opacity:0;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.fake-button
{
	position: relative;



	&__text
	{
		text-overflow:ellipsis;
		overflow: hidden;

	}

	&_green
	{
		background-image: linear-gradient(to top, #248435,#2bc948) !important;
		border-bottom: 3px solid #175d23;
	}
}
// Формы



// Первый экран
.first
{
	background: url(../img/bg.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height:900px;
	min-width: 1220px;


	&__button
	{
		text-align: center;
		margin-top: 5em;
	}
}

// Хедер
.header
{
	padding-top: 1em;
	&__logo
	{
		float: left;
	}

	&__contacts
	{
		float: right;
	}

	&__menu
	{
		display: inline-block;
	}

	&__phone
	{
		font-size: 30px;
		font-weight: bold;
		text-align: right;
	}

	&__hours
	{
		text-align: right;
		font-weight: 300;
		font-size: 20px;
		margin-top: 5px;
	}
}
.logo
{
	&__img
	{
		height: 60px;
		width: 60px;
		background: url("../img/logo.png");
		background-repeat: no-repeat;
		background-size: cover;
		float: left;
	}

	&__text
	{

		margin-left: 0.5em;
		font-size: 30px;
		float: left;
		font-weight: bold;
	}
	&__description
	{
		margin-top: 5px;
		font-size: 20px;
		// float: left;
		font-weight: 300;
		line-height: 1.2;
		// margin-left: 1em;
	}
}

// Хедер

// Первый экран



// Специальное предложение
.special
{
	text-align: center;
	background:url('../img/vent_cond-bg.jpg');
	background-position: top center;
	min-width: 1220px;

	
	&__img
	{
		text-align: center;
		width: 500px;
		height: 470px;
		// background:url('../img/vent_cond.jpg');
		margin: 0 auto;
	}

	&__feature
	{
		margin-top: 2em;
		text-align: center;
		&_left
		{
			float: left;
		}
		&_right
		{
			float: right;
		}
	}

	&__button
	{
		margin-top: 2em;
	}
	
	&__item
	{
		margin-left: 2em;
		margin-right: 2em;
	}

}

// Специальное предложение



// сроки и бюджет
.contract
{
	&__img
	{
		width: 400px;
		height: 550px;
		background:url('../img/contr.jpg');
		background-repeat: no-repeat;
	}
}
// сроки и бюджет


// Консультация

.consult
{
	margin-top: 0;
	padding-top: 0.01em;
	background-color: #0c0b17;
	background:url('../img/consult2.jpg');
	min-width: 1220px;

	background-position: top center;
	background-attachment: fixed;
	padding-bottom: 4em;

	&__item
	{
		margin-right: 2.8em;

		&:last-child
		{
			margin-right: 0;
		}
	}
	
	&__text
	{
		width: 600px;	
		float: right;
	}


}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	.consult
	{
		background:url('../img/consult2-iphone.jpg');
		background-position: bottom center;
		background-attachment: scroll;
	}
}

// Консультация



// Проектирование
.project
{
	&__img
	{
		width: 800px;
		height: 477px;
		background:url('../img/project.jpg');
		margin-top: 1em;
		margin: 0 auto;
		margin-bottom: 3em;
	}

	&__feature
	{
		text-align: center;
	}

	&__item
	{
		margin-left: 1.5em;
		margin-right: 1.5em;

		&:first-child
		{
			margin-left: 0;
		}

		&:last-child
		{
			margin-right: 0;
		}
	}

}
// Проектирование

// Отправить проект
.project-send
{
	&__upload
	{
		text-align: center;
		width: 750px;
		height: 250px;
		background: url('../img/project-send.jpg');
		margin: 0 auto;
		padding: 2em;
		box-sizing: border-box;

	}

	&__button
	{
		margin-top: 1em;
		text-align: center;
	}
}
// Отправить преокт



// Монтаж
.setting
{
	background:url("../img/setting-ipad.jpg");
	background-position: top center;
	height: 529px;
	min-width: 1220px;


	&__img
	{
		
	}
}
// Монтаж



// Лицензии
.license
{	
	text-align: center;

	&__item
	{
		width: 298px;
		height: 427px;
		display: inline-block;
		margin-right: 2em;

		&_1
		{

			background: url(../img/lic1.jpg);
		}

		&_2
		{
			background: url(../img/lic2.jpg);
		}
	}

	&__factoid
	{
		display: inline-block;
		vertical-align: top;
		width: 190px;
		height: 220px;
		background:url(../img/fact-warantee.jpg);
	}
}
// Лицензии 



// Фактоид
.factoid
{
	text-align: center;

	&__text
	{

	}

	&__header
	{
		font-size: 150px;
		font-weight: bold;
	}
}
// Фактоид



// Объекты

.object
{
	text-align: center;

	&__item
	{
		width: 600px;
		margin: 0 auto;
	}

	&__header
	{
		text-align: center;
	}

	&__time
	{
		display: inline-block;
	}

	&__img
	{
		width: 600px;
		background-color: #ccc;
		display: none !important;
		margin: 0 auto;
		margin-top: 1em;
		margin-bottom: 1em;

		&_active
		{
			display: block !important;
		}
	}

	&__budget
	{
		display: inline-block;
		margin-left: 2em;
	}

	&__thumbs
	{
		margin-top: 1em;
		margin-bottom: 2em;
	}

	&__thumb
	{
		width: 120px !important;
		height: 70px !important;

		margin-left: 10px;
		margin-right: 10px;
		background-color: #ccc;
		display: inline-block !important;
		cursor: pointer;

		&_active
		{
			box-shadow: 0 0 15px rgba(215,19,41,1);
		}
	}
}

// Объекты



// Позвоните нам
.contacts
{
	text-align: center;
	&__img
	{
		display: inline-block;
		height: 300px;
		width: 300px;
		background:url("../img/contacts__img.png");
	}

	&__text
	{
		margin-top: 25px;
		display: inline-block;
		vertical-align: top;
		margin-left: 3em;
	}
	&__items
	{
		margin-top: 2em;
	}
	&__item
	{
		margin-left: 1em;
		margin-right: 1em;
	}

}
// Позвоните нам



// Карта
.map-container
{
	position: relative;
}

.map
{
	height: 500px;
	min-width: 1220px;


	&__contacts
	{
		font-size: 24px;
		position: absolute;
		top: 0;
		background:rgba(255,255,255,.9);
		box-shadow: 0 5px 25px rgba(0,0,0,.1);
		padding: 2em;
		padding-bottom: 3em;
		width: 470px;
		left: 50%;
		margin-left: -600px;
		top: 2em;

	}

	&-contacts
	{
		&__header
		{
			line-height: 1.4;
			float: left;
			font-weight: 300;
			margin-bottom: 0.2em;
			width: 110px;
		}

		&__text
		{	
			line-height: 1.4;
			margin-left: 0.5em;
			float: left;
			margin-bottom: 0.8em;

			&_bold
			{
				font-weight: bold;
			}
		}
	}
}
// Карта



// Футер
.footer
{
	margin-bottom: 2em;
	padding-top: 1em;
	&__logo
	{
		float: left;
	}

	&__contacts
	{
		float: right;
	}

	&__menu
	{
		display: inline-block;
	}

	&__phone
	{
		font-size: 36px;
		font-weight: bold;
	}

	&__hours
	{
		text-align: right;
		font-weight: 300;
		font-size: 20px;
	}
}
// Футер



// Всплывающие формы

.popup
{
	&__bg
	{
		display: none;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
		background: rgba(0,0,0,.85);
	}

	&__window
	{
		background: #fff;
		display: none;
		position: fixed;
		width: 600px;
		padding: 1em;
		border-radius: 5px;
		margin-top: 100px;
		left: 50%;
		margin-left: -300px;
		text-align: center;

	}

	&__close
	{
		font-size: 30px;
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;

		&:hover
		{
			color: #d5052a;
		}
	}

	&__thx
	{
		display: none;
		width: 500px;
		left: 50%;
		margin-left: -250px;
	}

	&__check
	{
		width: 200px;
		height: 200px;
		margin: 0 auto;
		margin-top: 1em;
		margin-bottom: 1em;
		background:url("../img/check.png");
		background-size: cover;
	}

}

// Всплывающие формы